<form>
  <div>
    <label for="todo">Enter your todo</label>
    <input
      type="text"
      id="todo"
      name="todo"
      placeholder="Enter your todo"
      [(ngModel)]="currentTodo.title"
    />
  </div>
  <div>
      <label for="desc">Description:</label>
      <textarea name="desc" id="" cols="30" rows="10" id="desc" [(ngModel)]="currentTodo.desc"></textarea>
  </div>
  <div>
    <label for="deadline">Deadline:</label>
    <input type="date" id="deadline" name="deadline" [(ngModel)]="currentTodo.deadline"/>
  </div>
  <div>
    <label for="high-priority">High priority:</label>
    <input type="checkbox" name="high-priority" id="high-priority" [(ngModel)]="currentTodo.highPriority"/>
  </div>

  <button (click)="saved()">
      <span *ngIf="!currentTodo.id; else existedTodo">Add todo</span>
      <ng-template #existedTodo><span>Save changes</span></ng-template>
    </button>
  <button (click)="reseted()">reset</button>
  </form>
 

